

.nav-item{
    
    font-weight: 600;
    color: gray;
}
.container{
    margin-bottom: 100px;
}

.bg-img2{
    background-image: url(img/bg-2.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 180px;
}

.bg-img{
    background-image: url(img/bg-1.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}
.buy-now-button{
    border: none;
    background-color: black;
    color: white;
    padding:10px 30px;
    border-radius: 5px;
    font-weight: 600; 
    }

.card img{
    padding: 25px 15px;
    width: 250px;
}
.text-center{
    text-align: center !important; 
}

.box1{
    height: 250px;
    width: 250px;
    box-shadow: 2px 2px 30px rgb(185,184,184);
    margin: 15px;
    border-radius: 15px 0;

}

.half-width{
    width:50%;
    display: flex;
    gap: 5px;
}

.categories{
    display: flex;
}

.style{
    margin-top: 15px;
}
